{% extends "layout.html" %}

{% block title %}S&P 500 Sector Analyzer{% endblock %}

{% block body %}
  <main>
    <div class="heading">
      <p class="heading-top">S&P 500 <br> Sector Analyzer</p>
      <span class="heading-bottom">Analyze all 11 sections, updated daily</span>
    </div>
    {% for sector_name in sector_names %}
    <div class="sector">
      <h1 class="sector-heading">{{ sector_name }}</h1>
      <button class="btn" onclick="changePage('{{ loop.index0 }}', 'graph')">Graph</button>
      <button class="btn" onclick="changePage('{{ loop.index0 }}', 'table')">Table</button>
      <button class="btn" onclick="changePage('{{ loop.index0 }}', 'map')"><i class="fa-solid fa-map-location-dot"></i></button>
      <div class="pages">
        <div class="page" id="page1_{{ loop.index0 }}"><h2>Graph and Performance for {{ sector_name }}</h2> 
          <div id="vizContainer_{{ loop.index0 }}" style="width:100%; height:700px;"></div>
        </div>
        <div class="page" id="page2_{{ loop.index0 }}" style="display: none;">
          <h2>Information Table for {{ sector_name }}</h2>
          <table class="hover" style="width:100%">
            <thead>
              <tr>
                <th>Ticker</th>
                <th>Stock</th>
                <th>Market Cap</th>
                <th>Date</th>
                <th>Weekly Open</th>
                <th>Weekly Close</th>
                <th>Weekly Percentage</th>
                <th>Weekly Volume</th>
              </tr>
            </thead>
            <tbody>
          {% for stock in sector_data[sector_name] %}
            <tr>
              <td>{{ stock.ticker }}</td>
              <td>{{ stock.company }}</td>
              <td>{{ stock.market_cap }}</td>
              <td>{{ stock.date }}</td>
              <td>{{ stock.weekly_open }}</td>
              <td>{{ stock.weekly_close }}</td>
              <td>{{ stock.weekly_percentage }}</td>
              <td>{{ stock.weekly_volume }}</td>
            </tr>
          {% endfor %}
            </tbody>
         </table>
        </div>
        <div class="page" id="page3_{{ loop.index0 }}" style="display: none;">
          <h2>HQ Locations for {{ sector_name }}</h2> 

        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function(){
      var tableauUrls = [
          "https://public.tableau.com/views/SP500Charts/CommunicationServicesDifference",
          "https://public.tableau.com/views/SP500Charts/ConsumerDiscretionaryDifference",
          "https://public.tableau.com/views/SP500Charts/ConsumerStaplesDifference",
          "https://public.tableau.com/views/SP500Charts/EnergyDifference",
          "https://public.tableau.com/views/SP500Charts/FinancialsDifference",
          "https://public.tableau.com/views/SP500Charts/HealthCareDifference",
          "https://public.tableau.com/views/SP500Charts/IndustrialsDifference",
          "https://public.tableau.com/views/SP500Charts/InformationTechnologyDifference",
          "https://public.tableau.com/views/SP500Charts/MaterialsDifference",
          "https://public.tableau.com/views/SP500Charts/RealEstateDifference",
          "https://public.tableau.com/views/SP500Charts/UtilitiesDifference",
     ];
  for (var i = 0; i < tableauUrls.length; i++) {
      initViz(i, tableauUrls[i]);
  }
});
  </script>
    <script type="text/javascript">
      initViz('{{ loop.index0 }}', '{{ sector_name }}');
    </script>
  {% endfor %}
  </main>
{% endblock %}