$first-color: #f8b400;
$second-color: #faf5e4;
$third-color: #2c786c;
$fourth-color: #004445;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @mixin colorBrighter($color, $x) {
    color: $color;
    filter: brightness($x);
  }  


  body {
    min-height: 100vh;
}

@import "./docs";

/* Styles for screens with a minimum width of 320px and wider */
@media only screen and (min-width: 320px) {

    nav {
        background: $first-color;
        border-bottom: 1px $second-color solid;
        display: flex;
        justify-content: space-between;
        font-family: "Poppins", sans-serif;
        li {
            list-style: none;
        }
    }

    .navbar-left {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-left: 20px;
    }

    .navbar-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 20px;
    }

    .icon-left {
        color: black;
        font-size: 25px;
    }

    .icon-rightup{
        color: green;
        font-size: 35px;
    }

    /* NAVBAR ABOVE */

    .heading {
        font-family: "Poppins", sans-serif;
        background-color: $third-color;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .heading-top {
            font-weight: bold;
            font-size: 2.5rem;
            color: #faf5e4;
        }
    }

    /* SECTOR BELOW */
    
    .sector{
        background: $fourth-color;
        height: 850px;
        border: 1px solid $second-color;
    }

    .sector-heading{
        font-family: 'Quicksand', sans-serif;
        font-size: 1.75rem;
        color: $second-color;
    }

    .pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  
    .page {
    height: 750px;
    width: 95%;
    padding: 20px 0;
    overflow: auto;
    h2 {
        color: $second-color;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 1.5rem;
        font-weight: lighter;
    } 
    }

    .dataTables_wrapper .dataTables_length,
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_processing,
    .dataTables_wrapper .dataTables_paginate {
    color: $second-color;
    }

    table.dataTable {
        background-color: $second-color;
        filter: brightness(0.95);
        margin: 0 auto;
        clear: both;
        border-collapse: collapse;
        border-spacing: 0;
        border: 3px solid black;
      }

    table.dataTable td {
        border: 1px solid black;
    }

    table.dataTable.no-footer {
        border-bottom: 3px solid black;
    }

    .dataTables_wrapper .dataTables_paginate {
        float: right;
        text-align: right;
        padding-top: .25em;
        color: 1px solid $second-color;
    }

    .btn {
    background-color: $second-color;
    box-shadow: black 4px 4px 0 0;
    margin: 10px 10px 0 10px;
    cursor: pointer;
    height: 25px;
    width: 75px;
    border-radius: 12px;
    border: 1px black solid;
    }
    .btn:hover{
        color: $second-color;
        background-color: $third-color;
        filter: brightness(1.25);
    }
}  

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  

}

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 


}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 


}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 


}

@media (min-width:1281px) { /* hi-res laptops and desktops */ 


}