* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  @mixin navbarSection{
        flex-basis: 50%;
        display: flex;
        align-items: center;
        gap: 30px;
  }

/* Styles for screens with a minimum width of 320px and wider */
@media only screen and (min-width: 320px) {
    #wrapper {
        min-height: 100vh;
        background-color: #50C878;
    }

    #navbar {
        height: 50px;
        display: flex;
        li {
            list-style: none;
        }
    }

    .navbar-liveprice {
        display: flex;
        flex-direction: column;
        .navbar-price {
            font-size: 20px;
        }
        .navbar-time {
            font-size: 12px;
        }
        @media (max-width: 400px) {
            .navbar-time {
                font-size: 10px;
            }
        }
    }

    .navbar-left {
        @include navbarSection;
    }

    .navbar-right {
        @include navbarSection;
        justify-content: center;
        gap: 10px;
    }

    .icon-left {
        color: black;
        font-size: 25px;
    }

    .icon-rightup{
        color: green;
        font-size: 35px;
    }

    /* NAVBAR ABOVE */

    .heading {
        width: 100%;
        height: 275px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .heading-top, .heading-bottom{
        width: 375px;
        .headingtop-text{
            text-align: center;
            font-weight: bold;
            font-size: 60px;
        }
        .headingbottom-text{
            width: 100%;
            font-size: 20px;
            font-weight: bold;
            color: purple;
        }
    }

    /* SECTOR BELOW */
    
    .sector{
        height: 850px;
        border: 1px solid white;
    }

    .pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  
    .page {
    height: 750px;
    width: 95%;
    padding: 20px 0;
    overflow: auto;
    }
    
    .table-info {
        border-collapse: collapse;
        margin: 10px auto;
        font-size: 14px;
        border: 1px solid black;
        width: 100%;
    }

    .table-info thead th {
        background-color: white;
        color: black;
        text-align: left;
        font-weight: bold;
        padding: 8px;
    }

    .table-info td {
        border: 0.5px solid black;
        padding: 10px;
    }

    .prev-btn, .next-btn {
    margin-top: 10px;
    cursor: pointer;
    }

    .sector-heading{
        font-weight: bold;
        font-size: 24px;
    }
}  

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  

}

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 


}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 


}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 


}

@media (min-width:1281px) { /* hi-res laptops and desktops */ 


}